* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #D0E4FF;
}

:root {
  --primary: #0062A1;
  --on-primary: #FFFFFF;
  --on-primary-container: #001D35;
  --primary-fixed: #D0E4FF;
  --primary-fixed-dim: #9CCAFF;
  --secondary: #525F70;
  --on-secondary: #FFFFFF;
  --secondary-container: #D6E4F7;
  --surface: #F7FAF9;
  --on-surface: #191C1C;
  --outline: #6F7979;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.header {
  padding: 25px 52px 25px 52px;
  margin-bottom: 14px;
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: 0 0 12px 12px;
}

.logo {
  margin-bottom: 24px;
  height: 40px;
  display: block;
  margin-bottom: 24px;
}

.header h1 {
  font-size: 48px;
  margin-bottom: 24px;
}

.header p {
  font-size: 18px;
  margin-bottom: 0;
}

.info_table {
  display: flex;
  justify-content: space-between;
}

.date_time {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--primary);
  width: 350px;
  border-radius: 12px;
}

.time {
  color: var(--on-primary-container);
  font-size: 57px;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px 40px;
  justify-content: space-between;
}

.time_header {
  width: 100%;
  margin: 5px 0;
  color: var(--on-primary);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.time_element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-fixed-dim);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--on-primary);
  width: 30%;
}

.date {
  margin: 5px 0;
  color: var(--on-primary);
  text-align: center;
  font-size: 24px;
}

.last_measutments {
  width: 350px;
  height: 170px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
}

.current_conditions_icon {
  background-color: #fff;
  display: block;
  width: 130px;
  height: 130px;
  border-radius: inherit
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;

  color: var(--on-secondary);
  font-size: 24px;
}

.temperature {
  display: flex;
  justify-content: space-between;
}

.wind {
  display: flex;
  justify-content: space-between;
}

.uvIndex {
  display: flex;
  justify-content: space-between;
}


.statistics {
  width: 730px;
  min-height: 200px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 12px;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  width: 115px;
  height: 27px;
  background-color: var(--on-surface);
  color: var(--on-primary);
  border-radius: 12px;
  transition: opacity 0.5s, top 0.2s, left 0.2s;
  pointer-events: none;
  font-size: 14px;
}


.popup:before {
  content: "";
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  box-shadow: 0 1px 14px rgba(0, 0, 0, .2);
  background: var(--on-surface);
  position: absolute;
  z-index: 998;
  left: calc(50% - 10px);
  bottom: -8px;
}

.first_col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.col {
  width: 49%;
  padding: 10px;
  background-color: var(--primary-fixed-dim);
  border-radius: 12px;
}

.col_label {
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
}

.item {
  padding: 0 8px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-fixed);

}

.item_label {
  font-size: 24px;
}

.item_value {
  font-size: 20px;
}

.value_part {
  display: inline;
}

.chart {
  width: 100%;
}

.chart_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface);
  justify-content: space-between;

  padding: 15px 30px;
}

.period_selector {
  width: 520px;
  display: flex;
  justify-content: center;

}

.period_selector_button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  color: var(--on-surface);
  border: 1px solid var(--outline);
  border-left: none;
}

.period_selector_button[selected] {
  background-color: var(--secondary-container);
}

.period_selector_button:first-child {
  border-left: 1px solid var(--outline);
  border-radius: 999px 0 0 999px;
}

.period_selector_button:last-child {
  border-radius: 0 999px 999px 0;
}

.chart_block {
  margin-top: 14px;
  border-radius: 12px;
}

.chart {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.chart_data_selector {
  width: 255px;
  margin-right: 15px;
}

.chart_container {
  width: 100%;
}

.chart_data_selector {
  width: 225px;
  margin: 0 30px;
}


.chart_data_selector_item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.chart_data_selector_item input {
  width: 17px;
  height: 17px;
}

.chart_data_selector_item input:checked~.checkmark {
  background-color: var(--primary);
}