<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-reboot.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- <script type="module" src="./node_modules/ejs/ejs.min.js"></script> -->
    <!-- <script type="module" src="./index.js"></script> -->
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <img src="images/gdlogo-bila.svg" alt="logo" class="logo">
            <h1>Meteorologická stanice GYMKC Dobříš</h1>
            <p>Aktuální informace o počasí a archiv</p>
        </div>
        <div class="info_table">
            <div class="date_time">
                <div class="time">
                    <div class="hours">07</div>
                    <div class="divider">:</div>
                    <div class="minutes">00</div>
                </div>
                <div class="date">Čtvrtek 16. Červenec</div>
            </div>

            <div class="last_measutments">
                <img src="" alt="current_condition_icon" class="condition_icon">
                <div class="data">
                    <div class="temperature">

                    </div>
                    <div class="condition">


                    </div>

                    <div class="wind">
                        <div class="speed"></div>
                        <div class="direction"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="statistics">

        </div>



    </div>
</body>

</html>